<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="constr" connectionString="Data Source=LAPTOP-B66GKD0P;Initial Catalog=KinhDoanhMayTinh;Integrated Security=True"
   providerName="System.Sql.Client" />
  <add name="Thuchanh.Properties.Settings.KinhDoanhMayTinhConnectionString"
   connectionString="Data Source=LAPTOP-B66GKD0P;Initial Catalog=KinhDoanhMayTinh;Integrated Security=True"
   providerName="System.Data.SqlClient" />
		<add name="con" connectionString="Data Source=DESKTOP-7I86OTK\SQLEXPRESS;Initial Catalog=BTL;Integrated Security=True"/>
 </connectionStrings>
</configuration>